.container {
  max-width: 120rem;
  min-height: 50rem;
  margin: 8rem auto;
  box-shadow: var(--shadow-dark);
  background-color: var(--color-grey-light-1);

  @media only screen and (max-width: $bp-largest) {
    max-width: 100%;
    width: 100%;
    margin: 0;
  }
}

.header {
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: var(--line);
  font-size: 1.4rem;

  @media only screen and (max-width: $bp-smallest) {
    height: 11rem;
    flex-wrap: wrap;
    align-content: space-around;
  }
}

.content {
  display: flex;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  }
}

.sidebar {
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-grey-dark-1);
}

.hotel-view {
  flex: 1;
  background-color: #fff;
}

.detail {
  display: flex;
  padding: 4.5rem;
  border-bottom: var(--line);
  background-color: var(--color-grey-light-1);
  font-size: 1.4rem;

  @media only screen and (max-width: $bp-medium) {
    padding: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }
}

.description {
  flex: 0 0 60%;
  margin-right: 4.5rem;
  padding: 3rem;
  box-shadow: var(--shadow-light);
  background-color: #fff;

  @media only screen and (max-width: $bp-medium) {
    margin-right: 3rem;
    padding: 2rem;
  }

  @media only screen and (max-width: $bp-small) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
