@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin gradient-text {
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

// MEDIA QUERY MANAGER
@mixin respond($breakpoint, $position: 'max') {
  $media_property: if($position == "min", "min-width", "max-width");

  @media (#{$media_property}: (calc($breakpoint / 16px) * 1em)) {
    @content;
  }
}
